@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body{
	background-color: #000;
    font-family: 'Quicksand', sans-serif;
}

.titulillo{
	color: white;
}

.container {
    position: absolute;
	width: 400px;
    background: #222;  
	z-index: 1000;
	display: flex;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%); 
}

.containerActividades {
	position: absolute;
	width: auto;
	height: auto;
    background: #222;  
	z-index: 1000;
	display: flex;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%); 
}

.containerActividades .signin h2{
	font-size: 2em;
	color: #0f0;
	text-transform: uppercase;
}

.containerActividades .signin p{
	color: white;
}

.containerRuta {
	position: absolute;
	width: auto;
	height: auto;
    background: #222;  
	z-index: 1000;
	display: flex;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%); 
}

.containerRuta .signin h2{
	font-size: 2em;
	color: #0f0;
	text-transform: uppercase;
}

.containerRuta .signin p{
	color: white;
}

.containerBuscar {
	position: absolute;
	width: auto;
	height: auto;
    background: #222;  
	z-index: 1000;
	display: flex;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%); 
}

.containerBuscar .signin h2{
	font-size: 2em;
	color: #0f0;
	text-transform: uppercase;
}

.containerBuscar .signin .formArchivo label{
	color: white;
}

.containerBuscar .signin .formArchivo .buscar{
	padding: 10px;
	background: #0f0;
	border-radius: 10px;
	text-align: center;
	color: #000;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: pointer;
}

.containerBuscar .signin .formArchivo .buscar:hover{
	color: white;
}

.containerBuscar .signin .formArchivo .buscar:active{
	opacity: 0.6;
}

.containerCrear {
	position: absolute;
	width: auto;
	height: auto;
    background: #222;  
	z-index: 1000;
	display: flex;
	padding: 40px;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(0,0,0,9);
	left: 50%;
	top: 50%; 
	transform: translate(-50%, -50%); 
}

.containerCrear .signin h2{
	font-size: 2em;
	color: #0f0;
	text-transform: uppercase;
}

.containerCrear .signin .formArchivo label{
	color: white;
}

.containerCrear .signin .formArchivo input,
.containerCrear .signin .formArchivo textarea,
.containerBuscar .signin .formArchivo input {
    width: 100%;
    padding: 10px;
    background: #333;
    border: none;
    outline: none;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.containerCrear .signin .formArchivo .inputBox input[type="submit"]{
	padding: 10px;
	background: #0f0;
	border-radius: 10px;
	text-align: center;
	color: #000;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: pointer;
}

.containerCrear .signin .formArchivo .inputBox input[type="submit"]:hover{
	color: white;
}

.containerCrear .signin .formArchivo .inputBox input[type="submit"]:active{
	opacity: 0.6;
}

section {
	position: absolute;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 2px;
	flex-wrap: wrap;
	overflow: hidden;
}

section span {
	position: relative;
	display: block;
	width: calc(6.25vw - 2px);
	height: calc(6.25vw - 2px);
	background: #181818;
	z-index: 2;
	transition: 1.5s;
}
section span:hover {
	background: #0f0;
	transition: 0s;
}


section::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(#000,#0f0,#000);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0%
	{
		transform: translateY(-100%);
	}
	100%
	{
		transform: translateY(100%);
	}
}

.signin{
    position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 40px;
    width: 100%;
	display: flex;
	flex-direction: column;
	gap: 25px;
}

.container .signin label{
    color: #0f0;
    text-transform: uppercase;
}

.container .signin h2 {
	font-size: 2em;
	color: #0f0;
	text-transform: uppercase;
}

.inputBox{
    position: relative;
	width: 100%;
	text-align: center;
}

.inputBox input{
    position: relative;
	width: 100%;
	background: #333;
	border: none;
	outline: none;
	padding: 25px 10px 7.5px;
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	font-size: 1em;
}


.container .signin .inputBox i{
    position: absolute;
	left: 0;
	padding: 15px 10px;
	font-style: normal;
	color: #aaa;
	transition: 0.5s;
	pointer-events: none;
	transform: translateY(-50%);
    top: 50%;
}

.container .signin .inputBox input:focus ~ i,
.container .signin .inputBox input:valid ~ i{
	transform: translateY(-32px);
	font-size: 0.8em;
	color: #fff;
}

.link{
    position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.link a{
    color: #fff;
	text-decoration: none;
}

.link a:nth-child(2){
    color: #0f0;
	font-weight: 600;
}

.inputBox input[type="submit"] {
    padding: 10px;
	background: #0f0;
	color: #000;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: pointer;
}

input[type="submit"]:active {
	opacity: 0.6;
}

input[type="submit"]:hover {
	color: white;
}

.inputBox button[type="submit"] {
    padding: 10px;
	background: #0f0;
	border-radius: 10px;
	text-align: center;
	color: #000;
	font-weight: 600;
	font-size: 1.35em;
	letter-spacing: 0.05em;
	cursor: pointer;
}

button[type="submit"]:active {
	opacity: 0.6;
}

button[type="submit"]:hover {
	color: white;
}


